$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-link: "\e95c";
$icon-vimeo: "\e95d";
$icon-facebook: "\e95e";
$icon-twitter: "\e95f";
$icon-linkedin: "\e960";
$icon-b1: "\e961";
$icon-download1: "\e962";

